//
   Created by awunnenb on 27.11.13.

doctype html
html
    head
        title= title
        // Mobile
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        // CSS
        link(rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
        // Script
        script(src="https://code.jquery.com/jquery-1.11.1.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous")
        script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
    body
        block content