//
   Created by awunnenb on 27.11.13.

extends layout_edit
block content
    h2= title
        form( method="post", data-ajax="false", action="/save")
            ul(data-role="listview", data-inset="true")
                li(data-role="fieldcontain")
                    label(for="number") Number
                    input(id="number", type="number", name="number")
                li(data-role="fieldcontain")
                    label(for="title") Title
                    input(id="title", type="text", name="title", maxlength="150")

            input(type="submit", value="Submit", data-icon="check", data-inline="true")
            a(href="/home", data-role="button", data-icon="back",data-rel="back", data-inline="true") Cancel
//                li(data-role="fieldcontain")
//                    label(for="unit") Unit
//                  select(id="unit", name="unit", data-inline="true", data-native-menu="false" )
//                        each item in units
//                            option(value="#{item.name}") #{item.name} //                li(data-role="fieldcontain")
//                    label(for="date") Datum
//                    input(id="datetime", type="datetime-local", data-role="date", name="datetime")
//                li(data-role="fieldcontain")
//                    label(for="note") Notiz
//                    textarea(name="note",cols="40", rows="8", id="note")

  
